/***** Footer *****/
.footer {
  border-top: 2px solid #000;
  margin-top: 60px;
  padding: 40px 0;

  @include mobile {
    padding: 32px 0;
    margin-top: 40px;
  }

  &-inner {
    @include max-width-container;
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      gap: 32px;
    }
  }

  &-left {
    display: flex;
    align-items: baseline;
    gap: 30px;

    @include mobile {
      gap: 20px;
    }
  }

  &-logo {
    height: 48px;
    width: auto;
    flex-shrink: 0;
    align-self: flex-start;
    margin-top: 4px;

    @include mobile {
      height: 40px;
      margin-top: 4px;
    }
  }

  &-address {
    font-size: 14px;
    color: #000;

    @include mobile {
      font-size: 13px;
      line-height: 1.5;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;

    @include mobile {
      align-items: flex-start;
      gap: 24px;
    }
  }

  &-nav {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: flex-end;

    @include mobile {
      gap: 16px;
      justify-content: flex-start;
    }

    a {
      color: #000;
      text-decoration: none;
      font-size: 14px;

      @include mobile {
        font-size: 13px;
      }

      &:hover, &:focus {
        text-decoration: underline;
      }

      &:visited {
        color: #000;
      }
    }
  }

  &-copyright {
    font-size: 14px;
    color: #000;

    @include mobile {
      font-size: 13px;
    }
  }
}

.powered-by-zendesk {
  display: none !important;
  
  a,
  a:visited {
    color: $secondary-text-color;
  }
}
