/***** Hero component *****/
.hero {
  background-color: $light-gray-bg-hero-opacity;
  padding: 80px 200px;
  text-align: center;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  @include mobile {
    padding: 40px 20px;
  }

  &-container {
    position: relative;
    padding-bottom: 80px;

    @include mobile {
      padding-bottom: 40px;
    }
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 100%;
      background-color: $light-gray-bg-hero-opacity;
      z-index: 0;
    }
    
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 1px;
      background-color: $light-gray-border;
      z-index: 0;
    }
    
    > * {
      position: relative;
      z-index: 1;
    }
  }

  &-inner {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @include mobile {
      gap: 24px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  
  &-title {
    font-size: 34px;
    font-weight: 700;
    color: $dark-text-color;
    margin: 0;
    line-height: 1.2;

    @include mobile {
      font-size: 24px;
    }
  }
  
  &-subtitle {
    font-size: 18px;
    font-weight: 500;
    color: $dark-text-color;
    margin: 0;
    line-height: 1.5;

    @include mobile {
      font-size: 16px;
    }
  }
  
  &-search {
    width: 100%;
    max-width: 844px;
    display: flex;
    align-items: center;
  }
}
