/***** Search field *****/

$icon-color: #777;
$padding-left: 40px;
$padding-right: 20px;

.search-container {
  position: relative;
}

.search {
  border-color: $high-contrast-border-color;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  position: relative;
  transition: $input-transition;

  &:focus-within {
    border-color: $brand_color;
  }

  input[type="search"], 
  .clear-button {
    background-color: $white-color;
    border-radius: 30px;
    border: none;
  }

  &-full {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 24px 0px 24px;
    gap: 8px;
    width: 100%;
    max-width: 844px;
    height: 72px;
    background: $white-color;
    border: 2px solid $medium-gray-border;
    box-shadow: 0px 8px 20px $search-box-shadow;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;

    @include mobile {
      height: 56px;
      padding: 0px 16px;
    }
    
    border-color: $medium-gray-border;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    
    form {
      display: flex;
      flex: 1;
      align-items: center;
      gap: 8px;
      height: 100%;
    }
    
    input[type="search"], 
    .clear-button {
      border-color: transparent;
      border-radius: 0;
      height: 100%;
    }
    
    input[type="search"] {
      padding-left: 0;
      padding-right: 20px;
      border: none;
      background: transparent;
      height: auto;
      font-size: 16px;
      flex: 1;
    }
    
    .search-icon {
      position: static;
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      color: $medium-gray-border;
      margin: 0;
    }
    
    .clear-button {
      flex-shrink: 0;
      width: auto;
      padding: 0 12px;
    }
  }

  input[type="search"] {
    appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    color: $field-text-color;
    flex: 1 1 auto;
    height: 40px;
    width: 100%;

    &:focus {
      color: $field-text-focus-color;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 1000px $white-color inset;
    }
    
    .search-full & {
      flex: 1 1 auto;
      height: auto;
      min-height: 0;
    }
  }

  .clear-button {
    align-items: center;
    box-sizing: border-box;
    color: $icon-color;
    cursor: pointer;
    display: none;
    flex: none;
    justify-content: center;
    padding: 0 15px;

    &:hover {
      background-color: $brand_color;
      color: $white-color;
    }

    &:focus {
      @include focus-ring;
    }

  }

  &-has-value .clear-button {
    display: flex;
  }

}

[dir="ltr"] .search {
  input[type="search"] {
    padding-left: $padding-left;
    padding-right: $padding-right;
  }

  &-has-value input[type="search"] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color: transparent;

    &:focus {
      border-right-color: $brand_color;
    }

  }

  .clear-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left-color: transparent;

    &:focus {
      border-left-color: $brand_color;
    }
    
  }
}

[dir="rtl"] .search {
  input[type="search"] {
    padding-left: $padding-right;
    padding-right: $padding-left;
  }

  &-has-value input[type="search"] {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left-color: transparent;

    &:focus {
      border-left-color: $brand_color;
    }

  }

  .clear-button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color: transparent;

    &:focus {
      border-right-color: $brand_color;
    }

  }
}

.search-icon {
  @include vertical-align;
  position: absolute;
  left: 15px;
  z-index: 1;
  width: 18px;
  height: 18px;
  color: $icon-color;
  pointer-events: none;

  [dir="rtl"] & {
    left: auto;
    right: 15px;
  }
  
  .search-full & {
    position: static;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    color: $medium-gray-border;
  }
}

.hero-search {
  position: relative;

  .search-icon {
    position: absolute;
    left: auto;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 20px;
    height: 20px;
    color: $medium-gray-icon;
    pointer-events: none;

    @include mobile {
      right: 16px;
    }
  }

  .search input[type="search"] {
    padding-left: 0px;
    padding-right: 52px;

    @include mobile {
      padding-right: 48px;
    }
  }
}

.sub-nav .search-container {
  .search {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    padding: 0 16px;
    background: $white-color;
    border: 1px solid $low-contrast-border-color;
    border-radius: 8px;
    box-shadow: 0 2px 8px $search-box-shadow;

    @include mobile {
      height: 44px;
      padding: 0 12px;
    }

    form {
      display: flex;
      flex: 1;
      align-items: center;
      height: 100%;
    }

    input[type="search"] {
      border: none;
      background: transparent;
      height: 100%;
      padding-left: 12px;
      padding-right: 40px;
      font-size: 14px;

      @include mobile {
        padding-left: 0px;
        padding-right: 36px;
      }
    }
  }

  .search-icon {
    position: absolute;
    left: auto;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 16px;
    height: 16px;
    color: $medium-gray-icon;
    pointer-events: none;

    @include mobile {
      right: 12px;
      width: 14px;
      height: 14px;
    }
  }
}
